
.navBar {
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
 
}

.buttonCenterContainer{
  height: 200px;
  position: relative;
  border: 3px solid green;
}
.buttonCenter{

  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

nav {
  background-color: lightblue;
}


nav a {
  display: inline-block;
  margin: 0.5em 10.5em;
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(10, 10, 10);
  border-bottom: 2px solid rgb(14, 13, 13);
  transition: 0.1s;
}
nav a:hover,
nav a:active {
  color: rgb(72, 75, 82);
  border-bottom: 2px solid rgb(105, 106, 109);
}

.centering {
  text-align: center;
  }

.container{
  column-count: 3;
  height: 240px;
  font-size: 1em;

}

.cardTable{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-bottom: 5%;
  padding-right: 3%;
  margin-left: 1%;
}

img {

    width: 150px;
    height: 150px;
}



 input {
   
  width: 150px;
  height: 25px;
 }
 button {

  width: 100px;
  height: 30px;
 }

 .center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.center input {
  width: 200px;
}

.center button {
  padding: 5px;
  border: none;
  background-color: #28de8a;
  border-radius: 5px;
  width: 200px;
}

.logOut button {
  padding: 5px;
  border: none;
  background-color: #28de8a;
  border-radius: 5px;
  width: 150px;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  top: 5px;
}

.bottom-spacing {
  margin-bottom: 20px;
}
.bottom-spacing-button {
  margin-bottom: 50px;
}

.h-112 {
  height: 28rem;
}

.form-container label {
  display: block;
}

.cardTable:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


