 /*body*/
 .body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-left: 5%;
}

/*boxofcard*/
.boxofcard{
   padding-right: 3%;
   padding-bottom: 5%;  
}

/*card*/
.card{
    background-color: #f6f6f6;
    background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
}

.titleproduct{
    padding-left: 40%;
    margin-top: 15%;
    font-size: 2cm;
}

.somethingnewtitle{
 font-size: 85px;
 display: flex;
 -ms-flex-direction: column;
 word-wrap: wrap
 ;
}


/* whole hero div */
.move{
    margin-top: 10%;
    padding-bottom: 10%;
}
 


.somethingnewtitle{
    padding-left: 15%;
   
}
.cardz{
justify-content: center;
font-size: 20px;
padding-left: 20%;
margin-top: 4%;


}